{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>О Кванториуме</h1>
      <p>Кванториум – это федеральная сеть детских технопарков, созданная при поддержке Министерства экономического развития РФ. Кванториумы предназначены для развития интереса детей и подростков к науке, технике, инженерии и математике. В них проводятся занятия, мастер-классы, лекции и практикумы по различным тематикам.</p>
      <p>Каждый Кванториум специализируется на конкретной отрасли науки и техники. В них обучают детей с 7 до 18 лет с использованием новейших технологий и оборудования. Обучение проводят профессиональные преподаватели и эксперты.</p>
      <p>В настоящее время в России работает более 150 Кванториумов в различных городах. Каждый из них оснащен современным оборудованием и материалами, которые позволяют детям и подросткам получать уникальный опыт в своей сфере интересов.</p>
    </div>
    <div class="col-md-4">
      <img src="" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}