{% extends "base.html" %}

{% block content %}
  <h1>Образовательный модуль "Углубленный"</h1>
  <div class="row">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='img/advanced.jpg') }}" alt="Мини-изображение для модуля углубленный">
    </div>
    <div class="col-md-8">
      <p>Данный модуль позволит ученикам углубить свои знания в области программирования, веб-разработки и анализа данных. В курсе будут изучены Python, Django, базы данных, анализ данных с помощью pandas и многое другое. Это промежуточный уровень обучения, поэтому ученики должны иметь базовые знания в области программирования.</p>
      <a href="https://africau.edu/images/default/sample.pdf" target="_blank">Скачать материалы</a>
    </div>
  </div>
{% endblock %}