{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Добро пожаловать на наш сайт!</h1>
    <p class="lead">Мы рады приветствовать вас на нашем сайте, посвященном образовательным модулям для детей школьного возраста в области информационных технологий.</p>
    <hr class="my-4">
    <p>Здесь вы можете ознакомиться с нашей программой обучения, описанием модулей и скачать дополнительные материалы.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Узнать больше</a>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Образовательные модули</h2>
      <p>Наша программа обучения включает в себя три модуля:</p>
      <ul>
        <li><a href="/introductory">Вводный модуль</a></li>
        <li><a href="/advanced">Углубленный модуль</a></li>
        <li><a href="/project">Проектный модуль</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <h2>О нашем проекте</h2>
      <p>Мы - педагоги Кванториума по направлению IT, обучаем детей школьного возраста.</p>
      <p>Наш проект посвящен развитию навыков детей в области информационных технологий, в том числе программирования, робототехники и дизайна.</p>
      <p>Наши образовательные модули разработаны таким образом, чтобы обеспечить максимальную пользу для развития учеников в этих областях.</p>
      <p><a class="btn btn-secondary" href="/about" role="button">Узнать больше</a></p>
    </div>
  </div>
{% endblock %}
